@model IEnumerable<SistemaAC.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a class="btn btn-success" data-toggle="modal" data-target="#modalEditar" onclick="getUser('@item.Id','Users/getUser')">Edit</a>
                    <a class="btn btn-warning" onclick="getUser('@item.Id','Users/getUser')" data-toggle="modal" data-target="#modalDetalle">Details</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#modalDelete" onclick="getUser('@item.Id','Users/getUser')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Usuarios</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="id" id="id" />

                    <div class="form-group">
                        <label for="UserName" class="control-label">Username</label>
                        <input readonly name="UserName" id="UserName " class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="Roles" class="control-label">Roles</label>
                        <select id="Select" name="Select" class="form-control" onclick="getRoles('Users/GetRoles')">
                            <option value="0">Seleccione un Rol </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input for="email" name="email" id="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber" class="control-label">PhoneNumber</label>
                        <input name="PhoneNumber" id="PhoneNumber" class="form-control" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="EditUser('Users/EditUsers')">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Details-->
<div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detail Users</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="UserName" class="control-label">Username</label>
                    <p id="dUserName"> Usuario</p>
                </div>
                <div class="form-group">
                    <label for="Roles" class="control-label">Roles</label>
                    <p id="dRole">Role</p>

                </div>

                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <p id="dEmail">Email</p>
                </div>
                <div class="form-group">
                    <label for="PhoneNumber" class="control-label">PhoneNumber</label>
                    <p id="dPhoneNumber">PhoneNumber</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-target="#modalEditar" data-toggle="modal" onclick="hideDetailUser()">Edit</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Do You Want to delete?</h4>
            </div>
            <div class="modal-body">
                <h3 id="Euser"></h3>
                <input type="hidden" name="EIduser"id="EIduser" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" @*id="probando"*@ onclick="DeleteUsers('Users/DeleteUsers')" >Delete</button>
            </div>
        </div>
    </div>
</div>
